.client {
  padding-top: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
  // &.container {
  //   // padding-bottom: 60px;
  //   // @media screen and (min-width: 1200px) {
  //   //   padding-: 94px;
  // }
  &__icons {
    width: 106px;
    display: flex;
  }
}

.client__list {
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }
  & .client {
    height: 92px;
    width: 100%;
    border: solid 1px;
    border-radius: 4px;
    padding: 16px 32px;
    color: $icon-color;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;

    // margin-bottom: 30px;
    @media screen and (min-width: 480px) {
      flex-basis: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 90px) / 3);
      display: flex;
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 180px) / 6);
      display: flex;
      margin-bottom: 0px;
    }
  }
  & {
    fill: currentColor;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.client__list .client:nth-child(-n + 5) {
  @media screen and (max-width: 480px) {
    margin-bottom: 30px;
  }
}

.client__list .client:nth-child(-n + 3) {
  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
}

.client__list .client:nth-child(-n + 4) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
    max-width: 767px;
  }
}

.client__list {
  & li:focus,
  li:hover {
    fill: $blue-color;
    border: solid 1px $blue-color;
    transition: $animation-hover;
  }
}
