.nav__site {
  & .nav__link {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.nav__studio {
  &::after {
    content: "";
    height: 4px;
    background-color: $blue-color;
    align-self: flex-end;
    border-radius: 2px;
    z-index: 2;
    position: absolute;
    top: 44px;
    width: 49px;
  }
}

.menu-burger {
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: baseline;
}

.nav {
  &__tell-tell,
  &__mail-mail {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
}

.nav__list-tell {
  align-items: baseline;
  justify-content: start;
  color: $tell-color;
}

.nav__contact-nav {
  & .nav__list-tell:hover,
  & .nav__link:hover {
    stroke: $blue-color;
    color: $blue-color;
    fill: $blue-color;
    transition: $animation-hover;
  }
}

.navigation .logo-mobile {
  @media screen and(min-width:320px) {
    padding-top: 15px;
  }
  @media screen and(min-width:768px) {
    padding-top: 0px;
  }
}
// container
.navigation {
  & .mobile-nav {
    display: flex;
    align-items: baseline;
    // ОКНО
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    @media screen and (min-width: 320px) {
      display: flex;
    }
    // ОКНО
    @media screen and (min-width: 768px) {
      display: flex;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
}

.navigation .container {
  @media screen and(min-width: 320px) {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: row;
  }

  align-items: baseline;
  height: 100%;

  @media screen and (min-width: 768px) {
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.navigation {
  & .nav {
    display: flex;
    width: 100%;
    @media screen and(min-width:320px) {
      display: none;
    }
    @media screen and(min-width:768px) {
      display: flex;
      justify-content: space-around;
    }

    @media screen and(min-width:1200px) {
      display: flex;
      justify-content: space-between;
    }
  }
  & {
    background-color: $white-color;
    border: 1px solid $stroke-color;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    // padding-left: 15px;
    // padding-right: 15px;

    height: 60px;
    @media screen and(min-width:768px) {
      height: 80px;
      // padding-top: 32px;
    }
  }
}
.headder-tablet {
  @media screen and(min-width:1200px) {
    position: relative;
    display: flex;
  }
  @media screen and(min-width:768px) {
    // padding-top: 32px;
    position: relative;
    display: flex;
  }
}
.nav {
  &__site {
    display: flex;
    @media screen and(min-width:768px) {
      margin-left: 0px;
    }
    @media screen and(min-width:1200px) {
      margin-left: 93px;
    }
    position: relative;
    display: flex;

    width: 294px;
    justify-content: space-between;
    margin-left: 93px;
    position: relative;
  }
}
.nav__contact-nav {
  & {
    display: flex;
    height: 16px;
    @media screen and(min-width:768px) {
      // justify-content: start;
      flex-direction: column;
      justify-content: center;
      align-content: flex-start;
    }
    @media screen and(min-width:1200px) {
      flex-direction: row;
    }
    & > li:not(:last-child) {
      margin-bottom: 10px;
    }
    & li:not(:first-child) {
      // margin-left: 20px;

      @media screen and(min-width:1200px) {
        margin-left: 20px;
      }
    }
  }
}

.menu-burger-white {
  display: block;
  justify-content: flex-end;
  flex-direction: row;
  padding: 48px 40px;
}

.logo-header {
  color: $black-color;
}
.logo {
  font-family: Raleway;
  color: $blue-color;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  padding: 24px 0px 25px;
}

.nav__list .nav__link {
  &:hover,
  &:focus,
  &:active {
    color: $blue-color;
    transition: $animation-hover;
  }
}

.nav {
  & .nav__portfolio:visited,
  & .nav__studio:visited {
    color: $blue-color;
    transition: $animation-hover;
  }
}

.nav__contact-nav .link {
  &:hover,
  &:focus {
    color: $blue-color;
    fill: $blue-color;
    transition: $animation-hover;
  }
}

.nav__contact-nav {
  a {
    color: $tell-color;
    transition: $animation-hover;
  }
}
.navigation {
  & .nav__list {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
  }
}

.button__menu {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  @media screen and(min-width:768px) {
    display: none;
  }
}

.button__menu:focus,
.button__menu:hover {
  color: $blue-color;
}

.button-close-menu {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  position: absolute;
  right: 0;
  top: 18.75px;
}

.button-close-menu:focus,
.button-close-menu:hover {
  color: $blue-color;
}

// button-close-menu
.mobile-nav {
  position: absolute;
  background-color: $white-color;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  position: absolute;
  position: fixed;
}

// Текст меню

.mobile-menu__link {
  font-size: 40px;
  line-height: 1.175;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.02em;
  text-decoration: none;
}
// .mobile-contacts__item:hover,
// .mobile-contacts__item:focus {
//   fill: currentColor;
// }

.mobile-menu__link:hover,
.mobile-menu__link:focus {
  color: $blue-color;
}

.mobile-contacts__link {
  font-size: 24px;
  line-height: 1.166;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin-top: 34px;

  color: $tell-color;
}

.mobile-contacts li:not(:first-child) {
  margin-bottom: 64px;
}

.mobile-contacts__link:hover,
.mobile-contacts__link:focus {
  color: $blue-color;
}
.tell-contacts__link {
  font-size: 34px;
  line-height: 1.176;

  text-align: Left;
  vertical-align: Top;
  letter-spacing: 0.02em;
  color: $blue-color;
}

.mobile-media__link {
  font-size: 18px;
  line-height: 1.222;
  text-align: left;
  vertical-align: Top;
  letter-spacing: 0.02em;

  color: $blue-color;
}

.mobile-media {
  display: flex;
}

.mobile-menu__item {
  margin-bottom: 36px;
}

.mobile-media li:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  height: 22px;
  margin-left: 10px;
}

.mobile-media li:not(:first-child) {
  margin-left: 10px;
}

.mobile-nav .is-hidden {
  opacity: 0;
  pointer-events: none;
}
// Текст меню

// .display-nav {
//   @media screen and (max-width: 767px) {
//     display: none;
//   }
// }
