.hero {
  &__button-color {
    font-family: "Roboto", sans-serif;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-size: 16px;
    line-height: 1.875;
    font-weight: 700;
    text-align: center;
    border: 0;
    border-radius: 4px;
    padding: 10px 32px;
    cursor: pointer;
  }
}

.button-row {
  &__pro {
    font-family: "Roboto", sans-serif;
    background-color: var(--portfolio-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    padding: 6px 22px;
    border: 0;
  }
}

.button-row__pro {
  &:hover,
  &:focus {
    background-color: var(--blue-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: var(--animation-hover);
  }
}

.button-row .container {
  padding: 94px 0px 34px;
}
.button-row__list {
  & {
    display: flex;
    justify-content: center;
    padding-bottom: 16px;
    & li:not(:last-child) {
      margin-right: 9px;
    }
  }
}

.sub {
  &__button-footer {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-family: "Roboto", sans-serif;
    background-color: var(--blue-color);
    color: var(--white-color);
    font-size: 16px;
    line-height: 1.875;
    font-weight: 700;
    text-align: center;
    border: 0;
    border-radius: 4px;
    padding: 10px 32px;
    cursor: pointer;
    margin-left: 12px;
  }
}
