.nav__icons-contact-tell {
  & {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
}

.nav__icons-contact-mail {
  & {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
}

.icons-menu {
  width: 24px;
  height: 16px;
  fill: currentColor;
}

.close-button__menu {
  width: 18.67px;
  height: 18.33px;
  fill: currentColor;
  position: absolute;
  top: 0px;
  left: 0px;
}
