.nav__icons-contact-tell {
  & {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
}

.nav__icons-contact-mail {
  & {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
}
