.nav__logo-header {
  color: $black-color;
}
.navigation__logo {
  font-family: Raleway;
  color: $blue-color;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  // padding: 24px 0px 25px;
  padding-top: 15px;
}
.footer__logo-footer {
  color: $white-color;
}

.footer {
  &__logo {
    font-family: Raleway;
    color: $blue-color;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    padding-bottom: 20px;
    // padding: 24px 0px 25px;
  }
  &__logo-footer {
    color: $white-color;
  }
}
