.social__media {
  & .container {
    display: flex;
  }
}
.social__media {
  & a {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    padding: 12px;
    background-color: $icon-footer;
    color: $white-color;
    flex-direction: row;
    fill: currentColor;
  }
}
.social__media {
  & li:not(:last-child) {
    margin-right: 10px;
  }
  & a:hover,
  a :focus {
    fill: $white-color;
    background-color: $blue-color;
    transition: $animation-hover;
  }
}

.social__media :hover,
.social__media :focus {
  fill: var(--white-color);
  transition: var(--animation-hover);
}
