body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  color: var(--main-text-color);
}

.block-tittle {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
