:root {
  --blue-color: #2196f3;
  --white-color: #ffffff;
  --tell-color: #757575;
  --hero-color: #2f303a;
  --main-text-color: #212121;
  --mainbackgraund-color: #e5e5e5;
  --contacts-color: rgba(255, 255, 255, 0.6);
  --portfolio-color: #f5f4fa;
  --black-color: #000000;
  --stroke-color: #ececec;
  --icon-color: #afb1b8;
  --icon-footer: rgba(255, 255, 255, 0.1);
  --solid-color: #eeeeee;
  --solid-button: rgba(0, 0, 0, 0.2);
  --form-text: rgba(117, 117, 117, 0.5);
  --stoke-solid-footer: rgba(255, 255, 255, 0.3);
  --animation-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
